/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
 
}

body {

  color: #ffffff;
}
.logo{
  margin-top: 2%;
  margin-bottom: 1.5%;
  margin-left: 2%;
}
.logo img{
  width: 8.5%;
  height: 8.5%;
}

.text{
  margin-top: 44%;
  width: 100%;
  justify-content: center;
  text-align:start;
  align-items: center;
}
.text1 p{
  font-weight: bolder;
  margin-top:1%;
  width: 100%;
  justify-content: center;
  text-align:start;
  align-items: center;
  font-size: 1.6rem;
  color: #000000;
}
.text1 h3{
  color: #000000;
    font-size: 1.8rem;
}
.left h1 {
  font-size: 4.2rem;
  font-weight: bold;
  font-family: Arial, sans-serif;
}
.text p{
  font-size: .9rem;
  margin-top: 2%;
  color: black;
}

.firstbtn{
  display:flex;
  justify-content: end;
  width: 95.5%;
}
.firstbtn1
{
  display:flex;
  justify-content: end;
  width:93%;
}

.firstinput input{

      width: 80%;
      height: 10vh;
     

}

.inputt{
  padding-top: 2%;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  
}

.container {
  position: relative;
  margin-left: 2%;
  background-color:  #972222f3; 
  display: flex;
  justify-content: space-between;
  padding-bottom:85px;
  gap: 40px;
  
}

/* Left Section */
.left {

  margin-top: 5%;
  width:50%;

}
.leftside{
  margin-left: 17%;
}


/* Right Section */
.right {

 margin-top: 5%;
  width: 50%;

  
  

}

.right input,
.right textarea {
  
  width: 100%;
  border: 2px solid #fff;      
  background: #972222f3;         
  color: #fff;                
  outline: none;
}

::placeholder {
    
  color: #eee7e7c7;

}

.righth2{
  margin-left: 16%;
}

.righth2 h2{
  color: #000000;
  margin: 20px 0 10px;
  font-size: 30px;
}
.righth2 p{
  font-size:10px;
}
/* Award Row */
.award {
 
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 75%;
  gap: 10px;
  margin-left: 16%;
}

input[type="checkbox"] {
  accent-color: brown; /* apna color do */
  border: 1px solid white;
 
}

.check input{
  border: 1px solid white ;
  
}

input[type="checkbox"] {
  
  width: 17px;
  height: 17px;
  border: 1px solid white;
  cursor: pointer;
}  


.award label {

  flex: 1; 
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  /* text-overflow: ellipsis; */
  
}

/* Plus Button */
.plus-btn {
  background: #fff;
  color: rgba(0,0,0,0.4);
  font-weight: lighter;
  border: none;
  width: 14px;
  height: 14px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
}

.plus-btn:hover {
  color: rgba(0,0,0,0.7);
}

textarea {
  height: 60px;
  resize: none;
}

 button[type="submit"] {
  margin: 0%;
  padding: 12px;
  background: #fff;
  color: #000000;
  font-weight: bold;
  width: 100%;
}

button[type="submit"]:hover {
  color: #000000;
}
.awardd{
  margin-top: 10%;
  display: flex;
  margin-left: 16%;
  align-items: center;
  justify-content:start;
  padding: 3px;
  background-color: white;
  border:  2px solid white;
  width: 65%;
 overflow: hidden;
   
}
.plus-bt {
  
  border: none;
  font-weight: lighter;
  font-size: larger;
  font-family:Arial, sans-serif;
 
 
}
.corner img{
  width: 8%;
  height: 8%;
  position: absolute;
  bottom: 0%;
  right: 0%;
}
.check{
   width:50%;
   display: flex;
 
}
.style{
    width:50%; 
   

}
.checkboxx{
  display: flex;
  width: 100%;
}
.inp{
  display: flex;
  align-items: center;
}
.lab{
  width: 50%;
  justify-content: start;
  margin-left: 3%;
  
}